{% extends "layout.html" %}

{% block content %}
<div class="modal-content" style="padding: 30px; width: 500px; margin: 20px;">
    <form action="" method="post">
        {{form.csrf_token}}
        <div class="mb-3 row" style="margin: 15px 15px 10px 1px;">
            {{form.title.label(class="form-label")}}
            {{form.title(class="form-control")}}
        </div>
        <div class="mb-3 row" style="margin: 15px 15px 10px 1px;">
            {{form.content.label(class="form-label")}}
            {{form.content(class="form-control")}}
        </div>
        <div class="mb-3 row" style="margin: 15px 15px 10px 1px;">
            <input type="submit" value="Update" class="btn btn-secondary" />
        </div>
    </form>
</div>
{% endblock %}